 *{
    margin: 0;
    padding: 0;
 }

body{
    /* background:url(media/images/dark.jpg); */
    height: -webkit-fill-available;
    height: 100vh;
    background-image: url(media/images/dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

html{
    height: -web-webkit-fill-available;
}
p{
    color: #fff;
}

.con1{
    width: 83%;
    margin: 80px auto;
    flex: 1 1 150px;
  
}
.sliding{
    animation: slide 2s;
   
}

.container h1{
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.mcs{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 110%;
}
    

.mcs p{
    color: #707070;
}
    

.r1{
    display: flex;
    padding-right: 10px;
    padding-left: 15px;

}
.c1{
    flex-basis: 50%;
    min-width: 150px;
    
}

.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    -o-border-radius: 6px;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}
.feature-img p{
    color: #707070;
}

.small-img-row{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    -o-border-radius: 6px;
    overflow: hidden;
     /* width:550px;    */
    border-radius: 6px;
}
.small-img{
    position: relative;
    

    
}
.small-img img{
    width: 150px;
    
}
.small-img-row p{
    margin-left: 20px;
    color: #707070;
    font-size: 15px;
}
.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.small-img .play-btn{
    width: 35px

}
.video-player{
    width: 750px;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
   
     padding: 10px;
   
   
   
   }
  
.video-player > video{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:10px ;
}
.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
}


@keyframes slide{

     0%{
        background-image: url('media/images/RMAND.jpg');
     }
     20%{
        background-image: url('media/images/Gigi Saldaña.jpg');
     }
     20.01%{
        background-image: url('media/images/Wanda.jpg');
     }
     40%{
        background-image: url('media/images/justin-bieber.jpg');
     }
     60%{
        background-image: url('media/images/RMAND.jpg');
     }
     80%{
        background-image: url('media/images/Gigi Saldaña.jpg');
     }
     100.01%{
        background-image: url('media/images/Wanda.jpg');
     }
     112%{
        background-image: url('media/images/justin-bieber.jpg');
     }
     115%{
        background-image: url('media/images/RMAND.jpg');
     }
     135%{
        background-image: url('media/images/Gigi Saldaña.jpg');
     }
     145.01%{
        background-image: url('media/images/Wanda.jpg');
     }
     120%{
        background-image: url('media/images/justin-bieber.jpg');
     }
     120.25%{
        background-image: url('media/images/RMAND.jpg');
     }
     125%{
        background-image: url('media/images/Gigi Saldaña.jpg');
     }
     127.01%{
        background-image: url('media/images/Wanda.jpg');
     }
     130%{
        background-image: url('media/images/justin-bieber.jpg');
     }
     132%{
        background-image: url('media/images/RMAND.jpg');
     }
    }


/*---------------------navbar styles--------------------------*/
#mainnav .active{
    color:lightgreen;!important;
}

#mainnav .active::after{
    content:'';
    background:lightgreen;
    height:2px;
    display:block;
    margin-top: 1px;
    border-radius:2px;
    width:22px;
    /*position:relative;
    left:0;
    right:0;
     margin-left: auto;
    margin-right: auto;*/
}